<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="./../../S3/css/bootstrap.css">
    <title>Document</title>
</head>
<body>
<form method="POST" action="./../CONTROL/studentAdd.php">   
<p>CIN : <input type=" text" name="cin"></p>
<p>Nom : <input Nome=" text" name="nom"></p>
<p>Prenom : <input type=" text" name="prenom"></p>
<p>Age : <input type=" number" name="age"></p>
<p>Email : <input type=" email" name="email"></p>
<p><input class="btn btn-parimary" type="submit"  value="Add"></p>
</form> 
</body>
</html>